#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PYVERSIONS=2.3 2.4
# default is first version
DEFAULTPY=$(shell echo $(PYVERSIONS) | sed 's/ .*//')

build: build-stamp

build-stamp:
	dh_testdir

	# Add here commands to compile the package.

	for v in $(PYVERSIONS) ; do \
		python$$v setup.py build ; \
	done

	#docbook-to-man debian/libsnmp.sgml > libsnmp.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	for v in $(PYVERSIONS) ; do \
		python$$v setup.py clean || true; \
	done
	-rm -rf build
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/libsnmp.
	for v in $(PYVERSIONS) ; do \
		PYTHON=python$$v ; \
		PYTMP="debian/$$PYTHON-libsnmp" ; \
		$$PYTHON setup.py install --no-compile --root=$$PYTMP ; \
	done


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_strip
	dh_compress
	dh_fixperms
	dh_python
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	#dh_installchangelogs -a CHANGELOG
	dh_installdocs -a
	dh_installexamples  -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_python -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
